---
layout: default
---

<div align="center">
<img id="Image-Maps-Com-image-maps-2018-01-08-111653" src="{{"/assets/img/mestske-casti/praha-rozdeleni2.jpg" }}" border="0" width="1500" height="880" orgWidth="1500" orgHeight="880" usemap="#image-maps-2018-01-08-111653" alt="" />
<map name="image-maps-2018-01-08-111653" id="ImageMapsCom-image-maps-2018-01-08-111653">
<area shape="rect" coords="1498,878,1500,880" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
<area  alt="" title="Praha 8" href="#p8" shape="poly" coords="613,174,613,214,695,249,730,286,720,340,685,360,759,345,798,269,770,261,807,207,833,94" style="outline:none;" target="_self"     />
<area  alt="" title="Praha 9" href="#p9" shape="poly" coords="839,82,817,206,786,261,803,293,778,322,841,354,956,381,982,394,1053,350,1147,305,1150,244,1027,243,1015,167,935,167,942,112,874,112,892,69" style="outline:none;" target="_self"     />
<area  alt="" title="Praha 3" href="#p3" shape="poly" coords="699,369,777,335,815,335,819,357,763,397,722,400" style="outline:none;" target="_self"     />
<area  alt="" title="Praha 10" href="#p10" shape="poly" coords="716,408,777,406,821,364,879,358,905,384,948,384,970,412,1078,338,1108,351,1165,304,1250,349,1237,400,1112,457,1120,506,1137,485,1176,522,1140,530,1184,589,1161,620,1113,620,1131,656,1123,668,1042,643,981,605,981,539,921,559,912,514,857,516,843,500,815,500,737,461,710,440" style="outline:none;" target="_self"     />
<area  alt="" title="Praha 11" href="#p11" shape="poly" coords="757,521,838,504,847,520,899,533,928,546,959,547,976,593,954,614,884,614,865,656,817,663,834,589,789,555" style="outline:none;" target="_self"     />
<area  alt="" title="Praha 4" href="#p4" shape="poly" coords="611,581,615,539,652,443,685,434,809,492,748,519,787,569,823,592,816,662,787,668,746,582,699,566,677,585" style="outline:none;" target="_self"     />
<area  alt="" title="Praha 12" href="#p12" shape="poly" coords="606,586,640,597,695,587,758,604,789,679,703,736,626,754" style="outline:none;" target="_self"     />
<area  alt="" title="Praha 6" href="#p6" shape="poly" coords="608,179,544,164,532,269,436,273,436,230,410,230,371,269,249,306,304,310,371,389,413,444,470,397,619,391,578,368,640,307,597,267" style="outline:none;" target="_self"     />
<area  alt="" title="Praha 7" href="#p7" shape="poly" coords="617,222,600,254,637,346,735,309,671,255" style="outline:none;" target="_self"     />
<area  alt="" title="Praha 1" href="#p01" shape="poly" coords="612,389,590,372,606,341,682,345,678,391" style="outline:none;" target="_self"     />
<area  alt="" title="Praha 2" href="#p2" shape="poly" coords="642,408,676,400,694,384,703,404,674,427,650,440" style="outline:none;" target="_self"     />
<area  alt="" title="Praha-5" href="#p5" shape="poly" coords="456,438,454,410,622,386,639,464,613,542,568,549,492,621,465,598,527,538,520,456" style="outline:none;" target="_self"     />
<area  alt="" title="Praha-13" href="#p13" shape="poly" coords="295,450.00001525878906,335,408.00001525878906,372,409.00001525878906,408,454.00001525878906,450,440.00001525878906,520,483.00001525878906,500,543.0000152587891,472,556.0000152587891,440,659.0000152587891,399,645.0000152587891,428,574.0000152587891,352,529.0000152587891" style="outline:none;" target="_self"     />
<area  alt="" title="Praha 16" href="#p16" shape="poly" coords="472,669.0000152587891,446,656.0000152587891,457,626.0000152587891,485,627.0000152587891,537,625.0000152587891,568,562.0000152587891,595,555.0000152587891,614,642.0000152587891,598,830,493,818,458,784,516,726,458,736,487,694" style="outline:none;" target="_self"     />
</map>
</div>


<!--
<div class="row">
  <img src="{{"/assets/img/mestske-casti/praha-rozdeleni2.jpg" }}">
</div>
-->

<hr>

<div class="row">
  <div class="columns large-6">
    <h2>Krajské sdružení</h2>
    <p>Krajské sdružení Praha (KS) se dělí několik místních sdružení (MS).</p>
    <p>Krajským předsedou je <a href="{{ '/lide/ondrej-profant/'  }}">Ondřej Profant</a>, dále jsou v krajském předsednictvu 4 místopředsedové.</p>
  </div>
</div>

<div class="row">
  <div class="columns large-6">
    <h2 id="p01">Praha 1<br><small></small></h2>
    <p><a href="{{ '/lide/pavel-nazarsky/'  }}">Pavel Nazarský</a>, člen Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p01' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
  <div class="columns large-6">
    <h2 id="p2">Praha 2<br><small></small></h2>
    <p><a href="{{ '/lide/robert-rames/'  }}">Robert Rameš</a>, člen Pirátů</p>
    <p>V obdvodě je za nás zvolen senátor <a href="http://libormichalek.cz/">Libor Michálek</a></p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p2' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
</div>

<div class="row">
  <div class="columns large-6">
    <h2 id="p3">Praha 3<br><small></small></h2>
    <p><a href="{{ '/lide/pavel-kralicek/'  }}">Pavel Králíček</a>, člen Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p3' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
  <div class="columns large-6">
    <h2 id="p4">Praha 4<br><small></small></h2>
    <p><a href="{{ '/lide/marek-paris/'  }}">Marek Paris</a>, člen Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p4' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
</div>

<div class="row">
  <div class="columns large-6">
    <h2 id="p5">Praha 5<br><small></small></h2>
    <p><a href="{{ '/lide/daniel-mazur/'  }}">Daniel Mazur</a>, člen Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p5' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
  <div class="columns large-6">
    <h2 id="p6"><a href="https://praha6.pirati.cz/">Praha 6</a><br><small></small></h2>
    <p><a href="{{ '/lide/viktor-mahrik/'  }}">Viktor Mahrik</a>, člen Pirátů, zastupitel v ZHMP</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p6' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
</div>

<div class="row">
  <div class="columns large-6">
    <h2 id="p7">Praha 7<br><small></small></h2>
    <p><a href="{{ '/lide/roman-kucera/'  }}">Roman Kučera</a>, člen Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p7' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
  <div class="columns large-6">
    <h2 id="p8">Praha 8<br><small></small></h2>
    <p><a href="{{ '/lide/michal-novak/'  }}">Michal Novák</a>, členk Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p8' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
</div>

<div class="row">
  <div class="columns large-6">
    <h2 id="p9">Praha 9<br><small></small></h2>
    <p><a href="{{ '/lide/aneta-heidlova/'  }}">Aneta Heidlová</a>, členka Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p9' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
  <div class="columns large-6">
    <h2 id="p10">Praha 10<br><small></small></h2>
    <p><a href="{{ '/lide/pavel-hajek/'  }}">Pavel Hájek</a>, člen Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p10' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
</div>

<div class="row">
  <div class="columns large-6">
    <h2 id="p11">Praha 11<br><small></small></h2>
    <p><a href="{{ '/lide/filip-miler/'  }}">Filip Miler</a>, člen Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p11' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
  <div class="columns large-6">
    <h2 id="p12"><a href="https://praha12.pirati.cz/">Praha 12</a><br><small></small></h2>
    <p><a href="{{ '/lide/lukas-findeis/'  }}">Lukáš Findeis</a>, zastupitel na městské části Praha 12</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p12' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
</div>

<div class="row">
  <div class="columns large-6">
    <h2 id="p13"><a href="https://praha.pirati.cz/mestske-casti/p13/">Praha 13</a><br /><small></small></h2>
    <p><a href="{{ '/lide/tomas-murnak/'  }}">Tomáš Murňák</a>, zastupitel na městské části Praha 13</p>
    <p>V obdvodě je s naší spolúčastí zvolen senátor <a href="http://www.vaclavlaska.cz/">Václav Láska</a>.</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p13' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
  <div class="columns large-6">
    <h2 id="p16">Praha 16<br><small></small></h2>
    <p><a href="{{ '/lide/karel-nejedlik/'  }}">Karel Nejedlík</a>, člen Pirátů</p>
    <ul>{% for post in site.posts %}{% if post.tags contains 'p16' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}</ul>
  </div>
</div>

<br>
