@import 'pirati';
@import 'jquery.easy_slides';

.c-profile-badge__vertical{
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.o-section__heading{
  text-align: center;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-hp-banner {
  padding-top: 20%; 
  position: relative;
}

.o-section-padded {
  padding-bottom: 2.5rem;
}