---
layout: default
---

<div class="row">
  <div class="medium-7 small-12 columns" style="padding-left:0px">
    <a href="https://docs.google.com/forms/d/17MEmWfP4hyHO8On9V_PUTuWNDtS89bdhfomnyMfHoqY/viewform?edit_requested=true">
      <img src="{{"/assets/img/pripoj-se/dotaznik.png" }}" style="margin-top:10px;width:100%" alt="Pirátský dotazník"/>
    </a>

    <a style="width:100%" class="button alert expand radius large" href="https://docs.google.com/forms/d/17MEmWfP4hyHO8On9V_PUTuWNDtS89bdhfomnyMfHoqY/viewform?edit_requested=true">Vyplň Pirotazník ještě dnes!</a>
  </div>
  <div class="medium-5 small-12 columns">
    <div class="testimonial-wrap">

    	<div class="row">
    		<div class="large-12 columns text-center testimonial-header">
    			<h4>Co na to zkušení Piráti?</h4>
    		</div>
    	</div>

  		<div class="testimonial">
        <img src="{{"/assets/img/pripoj-se/ivan-bartos.jpg" }}" alt="Ivan Bartoš"/>
  			<blockquote>
  				Záleží ti na budoucnosti naší země? Přidat se je jednodušší než poslat e-mail.
          <cite>Ivan Bartoš, předseda Pirátů</cite>
  			</blockquote>
      </div>

      <div class="testimonial">
        <img src="{{ '/assets/img/kontakt/michal-jokes-ikon.jpg' }}" alt="Míša Krupičková"/>
  			<blockquote>
        Nepropásni šanci se přidat! Naučíš se spoustu nových věcí :-)
        <cite>Michal Jokeš, koordinátor dobrovolníků v Praze</cite>
  			</blockquote>
      </div>

  	</div>
  </div>

</div>

<div class="row">
<h2 id="aktivity">Aktivity</h2>
</div>

{% assign sorted_projects = site.projects | sort:'priority' %}

{% for projekt in sorted_projects %}
  {% capture thecycle %}{% cycle 'first', 'second', 'third' %}{% endcapture %}
  {% if thecycle == 'first' %}
    <div class="row">
  {% endif %}

  <div class="medium-6 large-4 {{ thecycle }} columns {% if forloop.last %} end {% endif %}">
    <a href="{{ projekt.url }}">
      <article class="article-card">
        <img src="{{ projekt.image | prepend: '/assets/img/pripoj-se/' }}" alt="{{projekt.title}}">
        <div class="card-content">
          <img class="post-icon" src="{{"/assets/img/layout/logo-kruh.png" }}" alt="P">
          <h4 class="post-author">{{ projekt.title }}</h4>
          <p> {{ projekt.description }}
          </p>
          <div class="text-right">
          <span class="label alert">{{ projekt.wanted }}!</span>
        </div>
        </div>
      </article>
    </a>
  </div>

  {% if thecycle == 'third' or forloop.last %}
    </div>
  {% endif %}

{% endfor %}

<div class="row">

{% capture info %}

### Další užitečné informace

* Koordinátor dobrovolníků: [Michal Jokeš](/lide/michal-jokes)
* [Příručka Piráta][prirucka] – základní informace pro dobrovolníky
* [Pirátská netiketa][netiketa] – základní zásady pro dobrou atmosféru
* Na první kontakt doporučeme přijít na **krajskou schůzi** nebo na **Pirátské úterý**, viz [kalendář][kal]

[prirucka]: https://redmine.pirati.cz/projects/po/wiki
[netiketa]: https://redmine.pirati.cz/projects/po/wiki/Pir%C3%A1tsk%C3%A1_netiketa
[kal]: pripoj-se/kalendar/#praha


{% endcapture %}

{{ info | markdownify }}
</div>
